In [ ]:
import datetime as dt
import pandas as pd

In [ ]:
startstr = '400101'
endyear = 2024
startdate = dt.datetime.strptime(startstr, '%y%m%d').date()
if startdate.year >= 2030: 
    print(f"Translating {startdate} to the 20th century")
    startdate = dt.datetime(startdate.year-100, startdate.month, startdate.day).date()
startdate

Translating 2040-01-01 to the 20th century

datetime.date(1940, 1, 1)

In [ ]:
startdate.year

1940

In [ ]:
def get_bridge(date):
    if (
        date.day >= 26) or (
        date.day <= 10):
        return 1
    else:
        return 0

In [ ]:
records = []
thisdate = startdate

while True:
    ready = 0
    bridge = get_bridge(thisdate)
    records.append((thisdate.strftime('%y%m%d'), thisdate.year, thisdate.month, bridge, ready))
    thisdate = (thisdate + dt.timedelta(days=2))
    if thisdate.year > endyear:
        break

In [ ]:
recordsdf = pd.DataFrame.from_records(records, columns=['datelabel', 'year', 'month', 'bridgemonth', 'era5ready', ])
recordsdf['erapreproc'] = 0
recordsdf['wpsready'] = 0
recordsdf['wrfstarted'] = '' 
recordsdf['wrfcomplete'] = '' 
recordsdf['wrfsuccessful'] = 0
recordsdf['dataarchived'] = 0
recordsdf['wrfcleanup'] = 0
recordsdf['wpscleanup'] = 0
recordsdf['era5cleanp'] = 0
recordsdf

,datelabel,year,month,bridgemonth,era5ready,erapreproc,wpsready,wrfstarted,wrfcomplete,wrfsuccessful,dataarchived,wrfcleanup,wpscleanup,era5cleanp
0,400101,1940,1,1,0,0,0,,,0,0,0,0,0
1,400103,1940,1,1,0,0,0,,,0,0,0,0,0
2,400105,1940,1,1,0,0,0,,,0,0,0,0,0
3,400107,1940,1,1,0,0,0,,,0,0,0,0,0
4,400109,1940,1,1,0,0,0,,,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15519,241223,2024,12,0,0,0,0,,,0,0,0,0,0
15520,241225,2024,12,0,0,0,0,,,0,0,0,0,0
15521,241227,2024,12,1,0,0,0,,,0,0,0,0,0
15522,241229,2024,12,1,0,0,0,,,0,0,0,0,0
15523,241231,2024,12,1,0,0,0,,,0,0,0,0,0

In [ ]:
recordsdf.to_feather('status.feather')