In [ ]:
import datetime as dt
import pandas as pd

In [ ]:
startstr = '221230'
startdate = dt.datetime.strptime(startstr, '%y%m%d').date()
startdate

datetime.date(2022, 12, 30)

In [ ]:
def get_bridge(date):
    if (
        date.month != (date + dt.timedelta(days=2)).month
        ) or (
        date.month != (date - dt.timedelta(days=1)).month):
        return 1
    else:
        return 0

In [ ]:
records = []
thisdate = startdate

while True:
    ready = 0
    bridge = get_bridge(thisdate)
    records.append((thisdate.strftime('%y%m%d'), thisdate.year, thisdate.month, bridge, ready))
    thisdate = (thisdate - dt.timedelta(days=2))
    if thisdate.year < 1990:
        break

In [ ]:
recordsdf = pd.DataFrame.from_records(records, columns=['datelabel', 'year', 'month', 'bridgemonth', 'era5ready', ])
recordsdf['erapreproc'] = 0
recordsdf['wpsready'] = 0
recordsdf['wrfstarted'] = '' 
recordsdf['wrfcomplete'] = '' 
recordsdf['wrfsuccessful'] = 0
recordsdf['dataarchived'] = 0
recordsdf['wrfcleanup'] = 0
recordsdf['wpscleanup'] = 0
recordsdf['era5cleanp'] = 0
recordsdf

,datelabel,year,month,bridgemonth,era5ready,erapreproc,wpsready,wrfstarted,wrfcomplete,wrfsuccessful,dataarchived,wrfcleanup,wpscleanup,era5cleanp
0,221230,2022,12,1,0,0,0,,,0,0,0,0,0
1,221228,2022,12,0,0,0,0,,,0,0,0,0,0
2,221226,2022,12,0,0,0,0,,,0,0,0,0,0
3,221224,2022,12,0,0,0,0,,,0,0,0,0,0
4,221222,2022,12,0,0,0,0,,,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6021,900110,1990,1,0,0,0,0,,,0,0,0,0,0
6022,900108,1990,1,0,0,0,0,,,0,0,0,0,0
6023,900106,1990,1,0,0,0,0,,,0,0,0,0,0
6024,900104,1990,1,0,0,0,0,,,0,0,0,0,0
6025,900102,1990,1,0,0,0,0,,,0,0,0,0,0

In [ ]:
recordsdf.to_feather('status.feather')